.dropdown-menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #454546;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #eceff1;
    color: black;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(67, 68, 70);
    padding: 16px;
    background: linear-gradient(to right, rgb(235, 74, 74), rgb(238, 185, 238));
  }

  .dropdown-link:hover {
    color: rgb(31, 30, 30);
    background: linear-gradient(to right, red, purple);
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }